header nav.navbar-dark {
    background-color: black;
}

nav.navbar div.collapse li.nav-item a:hover {
    transform: scale(1.05);
    transition: all ease-in 0.1s;
}

form button.btn {
    color: aqua;
    transition: all ease-out 0.3s;
}

form button.btn:hover {
    color: gray;
    transition: all ease-out 0.3s;
}